<!doctype html>
<html lang="en" ng-app="NarrowItDownApp">
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
  </head>
<body>
   <div class="container" ng-controller="NarrowItDownController as controller">
     <div class="row">
       <h1>Narrow Down Your Chinese Menu Choice</h1>
     </div>

     <div class="row">
       <div class="form-group" >
         <input type="text" placeholder="search term" class="form-control" ng-model='controller.searchTerm'>
       </div>
       <div class="form-group narrow-button">
         <button class="btn btn-primary" ng-click='controller.getItems()'>Narrow It Down For Me!</button>
       </div>
     </div>

     <!-- found-items should be implemented as a component -->
     <div class="row">
       <found-items items="controller.found" message='controller.message' on-remove="controller.removeItem(index)"></found-items>
     </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
  <script src="app.js"></script>
</body>
</html>
